</div>
<footer class="footer">
    <div class="container">
        <div class="btn_chat">Чат-бот Ceramicanova</div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <p>© Ceramicanova, 2025</p>
                        <p><a href="/politika-konfidentsialnosti/">Политика <br>конфиденциальности</a></p>
                    </div>
                    <div class="col-sm-4">
                        <div class="ftr_title">Контакты</div>
                        <div class="footer__addr">
                            <p>г. Москва, Шоссе Энтузиастов, д. 12к2, ТЦ Город<br>
                                <a href="tel:+74952150771">+7 495 215 07 71</a><br>
                                <a href="mailto:info@ceramicanova.com">info@ceramicanova.com</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="ftr_title">Сервис</div>
                        <p>Авторизированный сервисный центр Ремус</p>
                        <p>г. Москва, ул. Башиловская, д.15</p>
                        <p>Ежедневно с 10:00 до 18:00</p>
                        <p>7 495 215 0771 (доб. 2) звонок бесплатный</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<a class="favorite_link"><span class="count">12</span></a>
<div class="remodal login_modal" data-remodal-id="login">
    <button data-remodal-action="close" class="close-button"></button>
    <div class="popup-form">
        <div class="popup-form__body">
            <div class="modal_title">Авторизация</div>
            <div class="modal_text">Пожалуйста, введите данные для входа</div>
            <div class="modal_inner">
                <form action="">
                    <div class="field required email_input">
                        <input type="text" placeholder="E-mail">
                    </div>
                    <div class="field required">
                        <div class="field_inner">
                            <input type="password" placeholder="Пароль">
                            <div class="password_view" aria-label="Показать пароль"></div>
                        </div>
                    </div>
                    <div class="field checkbox required">
                        <label>
                            <input type="checkbox">
                            <span><i></i>Запомнить меня на этом компьютере</span>
                        </label>
                    </div>
                    <div class="modal_link">
                        <a href="#" data-remodal-target="restore">Забыли свой пароль?</a>
                    </div>
                    <input type="submit" class="btn_button form_button" value="Войти">
                    <a href="#" data-remodal-target="reg" class="btn_button">Регистрация</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="remodal restore_modal" data-remodal-id="restore">
    <button data-remodal-action="close" class="close-button"></button>
    <div class="popup-form">
        <div class="popup-form__body">
            <div class="modal_title">Восстановить доступ</div>
            <div class="modal_text">Пожалуйста, введите E-mail</div>
            <div class="modal_inner">
                <form action="">
                    <div class="field required email_input">
                        <input type="text" placeholder="E-mail">
                    </div>
                    <input type="submit" class="btn_button form_button type-2" value="Запросить пароль">
                </form>
            </div>
        </div>
        <div class="popup-form-thanks">
            <div class="th_title">Запрос пароля</div>
            <div class="th_icon">Ссылка для смены пароля отправлена на ваш E-mail. </div>
            <div class="th_text">Пожалуйста, дождитесь письма, так как ссылка для смены пароля изменяется при каждом запросе </div>
        </div>
    </div>
</div>
<div class="remodal change_modal" data-remodal-id="change">
    <button data-remodal-action="close" class="close-button"></button>
    <div class="popup-form">
        <div class="popup-form__body">
            <div class="modal_title">Изменение пароля</div>
            <div class="modal_text">Пожалуйста, введите данные</div>
            <div class="modal_inner">
                <form action="">
                    <div class="field required email_input">
                        <input type="text" placeholder="E-mail">
                    </div>
                    <div class="field required">
                        <div class="field_inner">
                            <input type="password" placeholder="Новый пароль">
                            <div class="password_view" aria-label="Показать пароль"></div>
                        </div>
                    </div>
                    <div class="field required">
                        <div class="field_inner">
                            <input type="password" placeholder="Подтверждение пароля">
                            <div class="password_view" aria-label="Показать пароль"></div>
                        </div>
                    </div>
                    <div class="text_change">Пароль должен быть не менее 6 символов длиной.</div>
                    <input type="submit" class="btn_button form_button type-2" value="Изменить пароль">
                </form>
            </div>
        </div>
        <div class="popup-form-thanks center">
            <div class="th_title">Пароль успешно изменен</div>
            <div class="th_text">На ваш E-mail высланы новые регистрационные данные.</div>
        </div>
    </div>
</div>
<div class="remodal reg_modal" data-remodal-id="reg">
    <button data-remodal-action="close" class="close-button"></button>
    <div class="popup-form">
        <div class="popup-form__body">
            <div class="modal_title">Регистрация</div>
            <div class="modal_text">Пожалуйста, введите данные</div>
            <div class="modal_inner">
                <form action="">
                    <div class="field required">
                        <input type="text" placeholder="Название организации *">
                    </div>
                    <div class="field city_field required">
                        <input type="text" id="cityInput" placeholder="Город *" autocomplete="off">
                        <ul id="cityList" class="autocomplete-list"></ul>
                    </div>
                    <div class="field required">
                        <input type="text" placeholder="ФИО *">
                    </div>
                    <div class="field required email_input">
                        <input type="text" placeholder="E-mail *">
                    </div>
                    <div class="field required">
                        <div class="field_inner">
                            <input type="password" placeholder="Новый пароль">
                            <div class="password_view" aria-label="Показать пароль"></div>
                        </div>
                    </div>
                    <div class="field required">
                        <div class="field_inner">
                            <input type="password" placeholder="Подтверждение пароля">
                            <div class="password_view" aria-label="Показать пароль"></div>
                        </div>
                    </div>
                    <input type="submit" class="btn_button form_button type-2" value="Зарегистрироваться">
                    <div class="field checkbox required">
                        <label>
                            <input type="checkbox">
                            <span><i></i>Я даю согласие на <a href="">обработку своих персональных данных</a> и ознакомлен с <a href="">политикой конфиденциальности</a></span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="popup-form-thanks center">
            <div class="th_title icon">Ваша заявка принята</div>
            <div class="th_text">После прохождения модерации администратором вы получите сообщение на указанный вами электронный адрес. <br> <br> <strong style="font-size: 16px;">Если письмо не пришло, пожалуйста, проверьте папку “Спам”</strong></div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
<script src="js/menu.js"></script>
</body>

</html>