<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тайтл</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.css" integrity="sha512-nF9G9AnUEVv+zx285OqwGE8c1gmkys3qV6iuDK5rVG/UuZLWRgGBy/tN5WzSXXuZDZ1YvwhJ9+a/DTj71L8Lrw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://ceramicanova.com/local/templates/nova/assets/css/bootstrap.min.css?1753800532121200">
    <link rel="stylesheet" href="https://ceramicanova.com/local/templates/nova/assets/css/style.css?175552531731868">
    <link rel="stylesheet" href="https://ceramicanova.com/local/templates/nova/assets/css/main.min.css?175552531731868">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cn.wrdv.ru/local/templates/nova/assets/css/owl.carousel.min.css?17506917703351">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cn.wrdv.ru/bitrix/cache/js/s1/nova/template_d9edcc4d6c20d72ba524501f5240a2e3/template_d9edcc4d6c20d72ba524501f5240a2e3_v1.js?1755856947357036"></script>
</head>

<body>
    <div class="site_wrapper">
        <header class="header">
            <div class="header-wrap">
                <div class="container-fluid">
                    <div class="header-logo">
                        <a href="/">
                            <img src="/local/templates/nova/assets/img/new2_logo_black.png" class="img-responsive" alt="ceramica nova" style="max-height: 55px">
                        </a>
                    </div>
                    <ul class="header-nav hidden-xs hidden-sm">
                        <li>
                            <a class="collection" href="/collection/">Коллекции</a>
                            <button class="toggle-btn"></button>
                            <div class="menu-show collection-menu">
                                <ul>
                                    <li data-bg="url(/upload/resize_cache/iblock/f5b/1000_572_1/2zc0etu4uvwddgjnqsyai296xttibwuu.jpg)">
                                        <a class="collection-link" href="/collection/850/">850</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/696/1000_572_1/piwychwu6h4g1a4inoeb20jusyat7u13.jpg)">
                                        <a class="collection-link" href="/collection/alfa/">Alfa</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/d5a/1000_572_1/3so08qbzw0p8jnip4a3txxtt3ph55d9y.jpg)">
                                        <a class="collection-link" href="/collection/Aura/">Aura</a>
                                    </li>
                                    <li data-bg="url(/upload/iblock/da8/4y8boweqqzl8asi8pmwzaf50j0yyszdj.jpg)">
                                        <a class="collection-link" href="/collection/balance/">Balance</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/63b/1000_572_1/53qunohxw7pma6vanv9ai23vc3apw29t.jpg)">
                                        <a class="collection-link" href="/collection/balearica/">Balearica</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/990/1000_572_1/cj5yklk39s5o4qsgrqpgh0tv8g6kv6h5.jpg)">
                                        <a class="collection-link" href="/collection/cristal/">Cristal</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/248/1000_572_1/cnvxis0123y0qys54gac56lg6vexmq12.jpg)">
                                        <a class="collection-link" href="/collection/cubic/">Cubic</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/09f/1000_572_1/qq6oyaxoqlias1ketd94d04a28v6x5ka.jpg)">
                                        <a class="collection-link" href="/collection/dion/">Dion</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/fa5/1000_572_1/almpr7mhfqh8jcpstz5h7c932q9h5xl6.jpg)">
                                        <a class="collection-link" href="/collection/element/">Element</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/165/1000_572_1/yg2rs1ltey3l4p9620h85xx209vp5q4d.jpg)">
                                        <a class="collection-link" href="/collection/envision/">Envision</a>
                                    </li>
                                    <li data-bg="url()">
                                        <a class="collection-link" href="/collection/era/">Era</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/40d/1000_572_1/71eq2257e04uoq419zxy3ahipccsy1pv.jpg)">
                                        <a class="collection-link" href="/collection/Form/">Form</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/cc6/1000_572_1/5noisgftrk2p9fdkghbxswiydd6f95r3.jpg)">
                                        <a class="collection-link" href="/collection/Forma/">Forma</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/590/1000_572_1/dlslnk0bm1qqlenexrs4nf7ef8rtt936.jpg)">
                                        <a class="collection-link" href="/collection/fortuna/">Fortuna</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/4c4/1000_572_1/5t39s3e5h6m35ib65aiw4p21udy2q5ip.jpg)">
                                        <a class="collection-link" href="/collection/grace/">Grace</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/abe/1000_572_1/ipeltg2pzvyg09jnvb0zhksywk1umwd6.png)">
                                        <a class="collection-link" href="/collection/highlight/">Highlight</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/849/1000_572_1/09gg8y7hjh7ov14h1vysgyl8hatcxlss.jpg)">
                                        <a class="collection-link" href="/collection/long/">Long</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/25e/1000_572_1/nntntqwutl69v90u3k5u718z7d062hxx.jpg)">
                                        <a class="collection-link" href="/collection/maya/">Maya</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/765/1000_572_1/n4xobzoxgxbh12e67epqa0t9ujtehk7j.jpg)">
                                        <a class="collection-link" href="/collection/metric/">Metric</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/684/1000_572_1/u09zet7dxq66hc2vsnqa05jurjh8h7qp.jpg)">
                                        <a class="collection-link" href="/collection/Metropol/">Metropol</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/0d8/1000_572_1/jtdz4508po6ys6tpk78ykjusix9ob8ne.jpg)">
                                        <a class="collection-link" href="/collection/mia/">Mia</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/8ce/1000_572_1/5ika05ysjmpvpom7tepe0c4yb4d38osd.jpg)">
                                        <a class="collection-link" href="/collection/modena/">Modena</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/fb3/1000_572_1/e4n67ctwowylz6dg5r0w0g8vip8bwzxt.jpg)">
                                        <a class="collection-link" href="/collection/Modo/">Modo</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/bd0/1000_572_1/7wcdlnu8ad2w55xdrem8ruyq0hyu4uc9.jpg)">
                                        <a class="collection-link" href="/collection/moments/">Moments</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/14f/1000_572_1/yqu0ytxmn8d7iv8h4zj7bu72c0vh8sv3.jpg)">
                                        <a class="collection-link" href="/collection/Mono/">Mono</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/b7a/1000_572_1/ktnv8i5464wlekxtmq4uudqyh7hpljcu.jpg)">
                                        <a class="collection-link" href="/collection/newday/">New Day</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/97b/1000_572_1/8080l55ewj8o2leduh6004rdqn1n8tqs.jpg)">
                                        <a class="collection-link" href="/collection/noel/">Noel</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/269/1000_572_1/pkscb5risz2szy12y2k991ejvfkkposo.jpg)">
                                        <a class="collection-link" href="/collection/pearl/">Pearl</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/a1d/1000_572_1/6gzhs7ttb701zdofxfip1qzk62vvlbta.jpg)">
                                        <a class="collection-link" href="/collection/play/">Play</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/370/1000_572_1/efknkl76rtzecjbb7ogtoz3yzhtq9q2a.png)">
                                        <a class="collection-link" href="/collection/sabo/">Sabo</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/879/1000_572_1/5jb3cczcw5v33kx1waes5kmem8d95ji4.jpg)">
                                        <a class="collection-link" href="/collection/Star/">Star</a>
                                    </li>
                                    <li data-bg="url()">
                                        <a class="collection-link" href="/collection/sun/">Sun</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/9fe/1000_572_1/n70p3sr3n0cthjzwa28o813n1chrbiw9.jpg)">
                                        <a class="collection-link" href="/collection/taycan/">Taycan</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/f50/1000_572_1/i57ssn0pws8x5v1n03amb0sgj0ieoc6u.jpg)">
                                        <a class="collection-link" href="/collection/twist/">Twist</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/5da/1000_572_1/k3p3ptf6kmowwohmj82e5zeqiizhstgj.jpg)">
                                        <a class="collection-link" href="/collection/ulma/">Ulma</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/63d/1000_572_1/ajb8zu3d7dwkw8oijl0cwfbwfy5di28t.jpg)">
                                        <a class="collection-link" href="/collection/union/">Union</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/e65/1000_572_1/cmvtfj3w0hmllmnzyzm7aj1cw69b1o0f.jpg)">
                                        <a class="collection-link" href="/collection/uno/">Uno</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/504/1000_572_1/mrufd43bhe6o007o3yyv5scyion3zcxd.jpg)">
                                        <a class="collection-link" href="/collection/up/">Up</a>
                                    </li>
                                    <li data-bg="url(/upload/resize_cache/iblock/1aa/1000_572_1/53vt41rz1ocna9h7fngn8gfpsr2t56a6.jpg)">
                                        <a class="collection-link" href="/collection/vogue/">Vogue</a>
                                    </li>
                                </ul>
                                <div class="menu-preview"></div>
                            </div>
                        </li>
                        <li>
                            <a href="/catalog/">Продукция</a>
                            <button class="toggle-btn"></button>
                            <div class="menu-show">
                                <ul>
                                    <li class="flevel liitem"><a href="/catalog/unitazy/" class="collection-link root-item">Унитазы</a>
                                        <span class="opn"></span>
                                        <ul class="root-item">
                                            <li class="liitem"><a href="/catalog/podvesnye-unitazy/">Унитазы подвесные</a></li>
                                            <li class="liitem"><a href="/catalog/pristavnye-unitazy/">Унитазы приставные</a></li>
                                            <li class="liitem"><a href="/catalog/unitaz-kompakt/">Унитазы компакт</a></li>
                                        </ul>
                                    </li>
                                    <li class="flevel liitem"><a href="/catalog/sistemy-installyatsii/" class="collection-link root-item">Системы инсталляции</a>
                                        <span class="opn"></span>
                                        <ul class="root-item">
                                            <li class="liitem"><a href="/catalog/installyatsii/">Инсталляции</a></li>
                                            <li class="liitem"><a href="/catalog/knopki-smyva/">Кнопки смыва</a></li>
                                            <li class="liitem"><a href="/catalog/installyatsiya-s-knopkoy/">Инсталляции с кнопкой</a></li>
                                            <li class="liitem"><a href="/catalog/shumoizolyatsionnye-paneli/">Шумоизоляционные панели</a></li>
                                        </ul>
                                    </li>
                                    <li class="flevel liitem"><a href="/catalog/rakoviny/" class="collection-link root-item">Раковины</a>
                                        <span class="opn"></span>
                                        <ul class="root-item">
                                            <li class="liitem"><a href="/catalog/nakladnye-rakoviny/">Раковины накладные</a></li>
                                            <li class="liitem"><a href="/catalog/podvesnye-rakoviny/">Раковины подвесные</a></li>
                                            <li class="liitem"><a href="/catalog/vstraivaemye-rakoviny/">Встраиваемые раковины</a></li>
                                            <li class="liitem"><a href="/catalog/monoblok/">Раковины - моноблок</a></li>
                                            <li class="liitem"><a href="/catalog/aksessuary-dlya-rakovin/">Аксессуары для раковин</a></li>
                                        </ul>
                                    </li>
                                    <li class="flevel liitem"><a href="/catalog/bide/" class="collection-link root-item">Биде</a>
                                        <span class="opn"></span>
                                        <ul class="root-item">
                                            <li class="liselected"><a href="/catalog/napolnye-bide/" class="item-selected">Напольные биде</a></li>
                                            <li class="liitem"><a href="/catalog/podvesnye-bide/">Подвесные биде</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/information/">О бренде</a>
                        </li>
                        <li>
                            <a href="/download/">СКАЧАТЬ 3D</a>
                        </li>
                        <li>
                            <a href="/where-to-buy/">Где купить</a>
                        </li>
                        <li>
                            <a href="/downloads/">Каталоги и брошюры</a>
                        </li>
                        <li>
                            <a href="/garant/">Сервис</a>
                        </li>
                    </ul>
                    <div class="header-search">
                        <a href="" class="header-search-btn"></a>
                        <form action="/search/" method="GET" class="header-search__dropdown">
                            <div class="header-search__form">
                                <input class="header-search-input" name="q" type="text" placeholder="Введите запрос..." autocomplete="off">
                                <button type="submit" class="header-search-button"></button>
                            </div>
                        </form>
                    </div>
                    <div class="login_btn" data-remodal-target="login"></div>
                    <div class="header-search_overlay"></div>
                    <a href="" class="toggle-menu hidden-md hidden-lg"><span></span></a>
                </div>
            </div>
        </header>
        <div class="content_block_wr">