include _header.jade
<section class="catalog">
    <div class="container">
        <h1>Унитазы подвесные</h1>
        <div class="catalog__list catalog__list-carts">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Унитаз подвесной Ceramicanova HIGHLIGHT CN1804</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Система инсталляции для унитазов Envision с кнопкой смыва Round цвет чёрный </h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Подвесной унитаз PLAY Rimless CN3001</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Унитаз подвесной Ceramicanova HIGHLIGHT CN1804</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Унитаз подвесной Ceramicanova HIGHLIGHT CN1804</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Унитаз подвесной Ceramicanova HIGHLIGHT CN1804</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Унитаз подвесной Ceramicanova HIGHLIGHT CN1804</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Унитаз подвесной Ceramicanova HIGHLIGHT CN1804</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Унитаз подвесной Ceramicanova HIGHLIGHT CN1804</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Унитаз подвесной Ceramicanova HIGHLIGHT CN1804</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Унитаз подвесной Ceramicanova HIGHLIGHT CN1804</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="favorite_add"></div>
                    <a href="product-page.html" class="catalog__itm" id="bx_1970176138_1603_4ab978e8bec606ce72388dc8980b7e26">
                        <div class="catalog__itm__thumb">
                            <img src="https://ceramicanova.com/upload/resize_cache/iblock/a6b/400_400_1/a6b2b870d3cc071332ecc0bc69a3adaa.jpg" alt="Унитаз подвесной Ceramicanova HIGHLIGHT CN1804" loading="lazy">
                        </div>
                        <h2 class="catalog__itm__title">Унитаз подвесной Ceramicanova HIGHLIGHT CN1804</h2>
                        <div class="price"><span>1 150</span> ₽ </div>
                        <div class="stoke">
                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
include _footer.jade