include _header.jade
<div class="login_wrapper">
    <div class="container">
        <div class="path_block">
            <a href="">Главная</a>
            <i></i>
            <a href="">Личный кабинет</a>
            <i></i>
            <span>Избранное</span>
        </div>
        <div class="container_inner">
            <div class="left_panel">
                <div class="login_panel">
                    <div class="user_data">
                        <div class="user_img empty_img">
                            <img src="" alt="div">
                        </div>
                        <div class="user_name">Имя Фамилия</div>
                    </div>
                    <div class="login_menu">
                        <ul>
                            <li class="my_cabinet">
                                <a href="">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.63093 17.3095V14.7539C7.63092 14.1038 8.16085 13.5756 8.81743 13.5713H11.2225C11.8822 13.5713 12.417 14.1007 12.417 14.7539V14.7539V17.3174C12.4169 17.8693 12.8618 18.3204 13.4191 18.3333H15.0225C16.6209 18.3333 17.9166 17.0505 17.9166 15.4682V15.4682V8.19816C17.908 7.57565 17.6128 6.99108 17.1149 6.61082L11.6314 2.23771C10.6707 1.47626 9.30509 1.47626 8.34443 2.23771L2.88494 6.61876C2.38513 6.99748 2.08941 7.58301 2.08325 8.20609V15.4682C2.08325 17.0505 3.37898 18.3333 4.97734 18.3333H6.58072C7.15188 18.3333 7.6149 17.8749 7.6149 17.3095V17.3095" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Мой кабинет</div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98712 12.7885C6.7641 12.7885 4.01172 13.2758 4.01172 15.2273C4.01172 17.1789 6.74664 17.6837 9.98712 17.6837C13.2101 17.6837 15.9617 17.1956 15.9617 15.2448C15.9617 13.294 13.2276 12.7885 9.98712 12.7885Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98716 10.0049C12.1022 10.0049 13.8165 8.28978 13.8165 6.1747C13.8165 4.05962 12.1022 2.34534 9.98716 2.34534C7.87208 2.34534 6.157 4.05962 6.157 6.1747C6.14986 8.28264 7.85304 9.99772 9.96018 10.0049H9.98716Z" stroke="#111111" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Личные данные</div>
                                </a>
                            </li>
                            <li class="opened">
                                <a href="">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.39314 9.66527C1.49897 6.8736 2.54397 3.68277 5.47481 2.7386C7.01647 2.2411 8.71814 2.53443 9.99981 3.4986C11.2123 2.5611 12.9765 2.24443 14.5165 2.7386C17.4473 3.68277 18.499 6.8736 17.6056 9.66527C16.214 14.0903 9.99981 17.4986 9.99981 17.4986C9.99981 17.4986 3.83147 14.1419 2.39314 9.66527Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M13.3333 5.58337C14.2249 5.87171 14.8549 6.66754 14.9308 7.60171" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Избранное (5)</div>
                                </a>
                            </li>
                            <li>
                                <a href="/garant/service/" target="_blank">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.9188 7.37598L11.2161 10.3868C10.5165 10.9418 9.5322 10.9418 8.83262 10.3868L5.09863 7.37598" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0908 17.5C16.6253 17.507 18.3334 15.4246 18.3334 12.8653V7.14168C18.3334 4.58235 16.6253 2.5 14.0908 2.5H5.90936C3.3749 2.5 1.66675 4.58235 1.66675 7.14168V12.8653C1.66675 15.4246 3.3749 17.507 5.90936 17.5H14.0908Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Обращение</div>
                                </a>
                            </li>
                            <li>
                                <a href="/catalog/">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5.41667C2.5 3.22899 2.52342 2.5 5.41667 2.5C8.30991 2.5 8.33333 3.22899 8.33333 5.41667C8.33333 7.60434 8.34256 8.33333 5.41667 8.33333C2.49077 8.33333 2.5 7.60434 2.5 5.41667Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6667 5.41667C11.6667 3.22899 11.6902 2.5 14.5834 2.5C17.4767 2.5 17.5001 3.22899 17.5001 5.41667C17.5001 7.60434 17.5093 8.33333 14.5834 8.33333C11.6575 8.33333 11.6667 7.60434 11.6667 5.41667Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 14.5833C2.5 12.3956 2.52342 11.6666 5.41667 11.6666C8.30991 11.6666 8.33333 12.3956 8.33333 14.5833C8.33333 16.771 8.34256 17.5 5.41667 17.5C2.49077 17.5 2.5 16.771 2.5 14.5833Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6667 14.5833C11.6667 12.3956 11.6902 11.6666 14.5834 11.6666C17.4767 11.6666 17.5001 12.3956 17.5001 14.5833C17.5001 16.771 17.5093 17.5 14.5834 17.5C11.6575 17.5 11.6667 16.771 11.6667 14.5833Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Каталог</div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.5134 6.1579V5.3804C12.5134 3.68457 11.1384 2.30957 9.44256 2.30957H5.38006C3.68506 2.30957 2.31006 3.68457 2.31006 5.3804V14.6554C2.31006 16.3512 3.68506 17.7262 5.38006 17.7262H9.45089C11.1417 17.7262 12.5134 16.3554 12.5134 14.6646V13.8787" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M18.1745 10.0179H8.14038" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M15.7344 7.58862L18.1744 10.0178L15.7344 12.4478" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Выйти</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right_content">
                <div class="favorite_list_main">
                    <div class="favorite_action_panel">
                        <div class="name">В избранном товаров 2</div>
                        <div class="actions">
                            <div class="download_btns">
                                <span>Скачать</span>
                                <a href="">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.625 3.67184L11.1858 0.25H3.61191C3.08725 0.25 2.65625 0.651812 2.65625 1.17644V6.07019C2.65625 6.06925 2.68822 6.0625 2.70947 6.0625H3.125V1.17644C3.125 0.914531 3.35 0.71875 3.61191 0.71875H10.9739L11.125 0.860469V2.78525C11.125 3.30772 11.5499 3.71875 12.0723 3.71875H13.9971L14.125 3.86859V14.7921C14.125 15.054 13.9431 15.2812 13.6812 15.2812H3.61191C3.35 15.2812 3.125 15.054 3.125 14.7921V12.9062H2.70947C2.68822 12.9062 2.65625 12.9074 2.65625 12.9065V14.7921C2.65625 15.3167 3.08725 15.75 3.61191 15.75H13.6812C14.2058 15.75 14.625 15.3167 14.625 14.7921V3.67184ZM12.0723 3.25C11.8104 3.25 11.5938 3.04716 11.5938 2.78525V1.38225V1.37316L13.4844 3.25H12.0723Z" fill="#315D84" />
                                        <path d="M11.6751 6.53125H2.32494C1.80031 6.53125 1.375 6.95656 1.375 7.48119V11.4563C1.375 11.9809 1.80031 12.4062 2.32494 12.4062H11.6751C12.1997 12.4062 12.625 11.9809 12.625 11.4563V7.48119C12.625 6.95656 12.1997 6.53125 11.6751 6.53125ZM5.12644 11.0312L4.53941 10.0899L3.95853 11.0312H3.03781L4.03681 9.49625L3.09756 8.03125H3.99975L4.54353 8.96228L5.06672 8.03125H5.99569L5.042 9.56009L6.06775 11.0312H5.12644ZM8.375 11.0312H6.40625V8.03125H7.21875V10.375H8.375V11.0312ZM9.64047 8.98634C9.70156 9.03303 9.86737 9.11816 10.1379 9.24175C10.3975 9.35847 10.5777 9.48378 10.6786 9.61766C10.7796 9.75153 10.83 9.92012 10.83 10.1233C10.83 10.3101 10.7826 10.4759 10.6879 10.6208C10.5932 10.7657 10.4565 10.8782 10.278 10.9586C10.0995 11.0389 9.89006 11.0791 9.64975 11.0791C9.44925 11.0791 9.28 11.065 9.14409 11.0368C9.00812 11.0087 8.875 10.9596 8.71875 10.8896V10.1645C8.875 10.2442 9.03628 10.3063 9.20381 10.3509C9.37131 10.3956 9.52566 10.4179 9.66572 10.4179C9.78653 10.4179 9.87534 10.397 9.93169 10.3551C9.98797 10.3132 10.0162 10.2593 10.0162 10.1934C10.0162 10.1522 10.005 10.1161 9.98231 10.0852C9.95966 10.0543 9.92328 10.0231 9.87319 9.9915C9.82306 9.95994 9.68956 9.89541 9.47256 9.79791C9.27619 9.70866 9.12891 9.62216 9.03078 9.53834C8.93256 9.45459 8.85981 9.35847 8.81244 9.24997C8.76506 9.1415 8.74141 9.01309 8.74141 8.86478C8.74141 8.58744 8.84234 8.37116 9.04419 8.21594C9.24606 8.06078 9.52344 7.98319 9.87634 7.98319C10.1881 7.98319 10.5059 8.05528 10.8301 8.19944L10.5808 8.82769C10.2993 8.69862 10.0563 8.63406 9.85163 8.63406C9.74588 8.63406 9.669 8.65259 9.62094 8.68966C9.57284 8.72675 9.54884 8.77275 9.54884 8.82769C9.54881 8.88681 9.57938 8.93966 9.64047 8.98634Z" fill="#315D84" />
                                    </svg>
                                </a>
                                <a href="">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1444_4007)">
                                            <path d="M4.98055 10.4041H13.1718C13.2299 10.4041 13.2855 10.4271 13.3266 10.4682C13.3676 10.5092 13.3907 10.5649 13.3907 10.623C13.3907 10.681 13.3676 10.7367 13.3266 10.7778C13.2855 10.8188 13.2299 10.8419 13.1718 10.8419H4.98055C4.9518 10.8419 4.92333 10.8362 4.89678 10.8252C4.87022 10.8142 4.84608 10.7981 4.82576 10.7778C4.80543 10.7574 4.78931 10.7333 4.7783 10.7067C4.7673 10.6802 4.76164 10.6517 4.76164 10.623C4.76164 10.5942 4.7673 10.5658 4.7783 10.5392C4.78931 10.5126 4.80543 10.4885 4.82576 10.4682C4.84608 10.4479 4.87022 10.4317 4.89678 10.4207C4.92333 10.4097 4.9518 10.4041 4.98055 10.4041ZM13.1718 12.0447H4.98055C4.92249 12.0447 4.86681 12.0678 4.82576 12.1088C4.7847 12.1499 4.76164 12.2055 4.76164 12.2636C4.76164 12.3217 4.7847 12.3773 4.82576 12.4184C4.86681 12.4594 4.92249 12.4825 4.98055 12.4825H13.1718C13.2299 12.4825 13.2855 12.4594 13.3266 12.4184C13.3676 12.3773 13.3907 12.3217 13.3907 12.2636C13.3907 12.2055 13.3676 12.1499 13.3266 12.1088C13.2855 12.0678 13.2299 12.0447 13.1718 12.0447ZM3.54367 5.90234H2.87655V6.52241H3.54358C3.6258 6.52241 3.70466 6.48974 3.7628 6.4316C3.82095 6.37346 3.85361 6.2946 3.85361 6.21238C3.85361 6.13015 3.82095 6.05129 3.7628 5.99315C3.70466 5.93501 3.6258 5.90234 3.54358 5.90234H3.54367ZM13.1718 13.6853H4.98055C4.95182 13.6853 4.92338 13.691 4.89684 13.702C4.8703 13.713 4.84618 13.7291 4.82587 13.7494C4.80556 13.7697 4.78944 13.7938 4.77845 13.8204C4.76746 13.8469 4.7618 13.8753 4.7618 13.9041C4.7618 13.9328 4.76746 13.9612 4.77845 13.9878C4.78944 14.0143 4.80556 14.0384 4.82587 14.0587C4.84618 14.0791 4.8703 14.0952 4.89684 14.1062C4.92338 14.1172 4.95182 14.1228 4.98055 14.1228H13.1718C13.2298 14.1228 13.2855 14.0998 13.3265 14.0587C13.3675 14.0177 13.3905 13.9621 13.3905 13.9041C13.3905 13.846 13.3675 13.7904 13.3265 13.7494C13.2855 13.7084 13.2298 13.6853 13.1718 13.6853ZM5.93623 7.09203V6.39062C5.93597 6.2611 5.88434 6.13697 5.79268 6.04546C5.70101 5.95395 5.57679 5.90254 5.44727 5.9025H4.95827V7.58116H5.44727C5.57693 7.58101 5.70124 7.52942 5.79291 7.43772C5.88458 7.34602 5.93613 7.2217 5.93623 7.09203ZM15.0259 4.6975V14.6578C15.0253 15.0138 14.8836 15.355 14.6318 15.6066C14.38 15.8582 14.0387 15.9997 13.6827 16H4.4693C4.11336 15.9997 3.77208 15.8582 3.52033 15.6066C3.26859 15.355 3.12695 15.0137 3.12648 14.6578V9.00469H1.44148C1.31771 9.00451 1.19906 8.95527 1.11155 8.86775C1.02403 8.78023 0.974783 8.66158 0.974609 8.53781V4.94562C0.974725 4.82184 1.02395 4.70315 1.11148 4.61562C1.19901 4.52809 1.3177 4.47887 1.44148 4.47875H3.12648V1.34281C3.12687 0.986796 3.26847 0.645472 3.52021 0.39373C3.77196 0.141988 4.11328 0.000388769 4.4693 0L10.3284 0C10.3864 0.000118673 10.442 0.0231441 10.483 0.0640625L14.9618 4.54281C15.0027 4.58391 15.0257 4.63951 15.0259 4.6975ZM3.54358 6.96C3.64176 6.96 3.73898 6.94066 3.82969 6.90309C3.9204 6.86551 4.00283 6.81044 4.07225 6.74102C4.14168 6.67159 4.19675 6.58917 4.23432 6.49846C4.2719 6.40775 4.29123 6.31053 4.29123 6.21234C4.29123 6.11416 4.2719 6.01694 4.23432 5.92623C4.19675 5.83552 4.14168 5.7531 4.07225 5.68367C4.00283 5.61424 3.9204 5.55917 3.82969 5.5216C3.73898 5.48403 3.64176 5.46469 3.54358 5.46469H2.65773C2.59972 5.46469 2.54408 5.48773 2.50306 5.52876C2.46203 5.56978 2.43898 5.62542 2.43898 5.68344V7.79972C2.43898 7.82845 2.44464 7.85689 2.45564 7.88343C2.46663 7.90997 2.48274 7.93409 2.50306 7.9544C2.52337 7.97471 2.54748 7.99082 2.57402 8.00182C2.60056 8.01281 2.62901 8.01847 2.65773 8.01847C2.68646 8.01847 2.71491 8.01281 2.74145 8.00182C2.76799 7.99082 2.7921 7.97471 2.81241 7.9544C2.83273 7.93409 2.84884 7.90997 2.85983 7.88343C2.87083 7.85689 2.87648 7.82845 2.87648 7.79972V6.96003L3.54358 6.96ZM14.5884 4.91656H10.9527C10.7291 4.91628 10.5148 4.82733 10.3566 4.66921C10.1985 4.5111 10.1096 4.29673 10.1093 4.07312V0.4375H4.4693C4.22929 0.437814 3.9992 0.533296 3.82949 0.703007C3.65978 0.872718 3.5643 1.10281 3.56398 1.34281V4.47875H9.45305C9.57684 4.47887 9.69552 4.52809 9.78305 4.61562C9.87058 4.70315 9.91981 4.82184 9.91992 4.94562V8.53781C9.91975 8.66158 9.87051 8.78023 9.78299 8.86775C9.69547 8.95527 9.57682 9.00451 9.45305 9.00469H3.56398V14.6578C3.5644 14.8977 3.65993 15.1277 3.82964 15.2973C3.99935 15.4669 4.22938 15.5623 4.4693 15.5625H13.6827C13.9227 15.5623 14.1528 15.467 14.3226 15.2974C14.4924 15.1278 14.5879 14.8978 14.5884 14.6578V4.91656ZM4.73945 8.01875H5.44727C5.69292 8.01846 5.92843 7.92074 6.10214 7.74704C6.27584 7.57333 6.37355 7.33781 6.37383 7.09216V6.39062C6.37345 6.14508 6.27568 5.90971 6.10197 5.73615C5.92827 5.5626 5.69281 5.46504 5.44727 5.46488H4.73945C4.68144 5.46488 4.6258 5.48792 4.58477 5.52895C4.54375 5.56997 4.5207 5.62561 4.5207 5.68363V7.79991C4.52069 7.82864 4.52634 7.8571 4.53733 7.88365C4.54832 7.9102 4.56443 7.93432 4.58474 7.95465C4.60505 7.97497 4.62917 7.99109 4.65572 8.00209C4.68227 8.01309 4.71072 8.01875 4.73945 8.01875ZM7.04086 6.52241V5.90234H8.23674C8.29475 5.90234 8.35039 5.8793 8.39142 5.83827C8.43244 5.79725 8.45549 5.74161 8.45549 5.68359C8.45549 5.62558 8.43244 5.56994 8.39142 5.52891C8.35039 5.48789 8.29475 5.46484 8.23674 5.46484H6.82211C6.76409 5.46484 6.70845 5.48789 6.66743 5.52891C6.62641 5.56994 6.60336 5.62558 6.60336 5.68359V7.79987C6.60336 7.85789 6.62641 7.91353 6.66743 7.95455C6.70845 7.99558 6.76409 8.01863 6.82211 8.01863C6.88013 8.01863 6.93577 7.99558 6.97679 7.95455C7.01781 7.91353 7.04086 7.85789 7.04086 7.79987V6.96003H8.0268C8.08481 6.96003 8.14045 6.93698 8.18148 6.89596C8.2225 6.85494 8.24555 6.7993 8.24555 6.74128C8.24555 6.68326 8.2225 6.62763 8.18148 6.5866C8.14045 6.54558 8.08481 6.52253 8.0268 6.52253L7.04086 6.52241Z" fill="#315D84" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1444_4007">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </div>
                            <div class="clear_favorite">Очистить</div>
                        </div>                        
                    </div>
                    <div class="favorite_list_item">
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="files/pr.jpg" alt=""></a>
                            </div>
                            <div class="right">
                                <div class="name"><a href="">Название товара</a> </div>
                                <div class="right_inner">
                                    <div class="price"><span>1 150</span> ₽ </div>
                                    <div class="quantity_block">
                                        <button class="minus">-</button>
                                        <input type="text" value="2">
                                        <button class="minus">+</button>
                                    </div>
                                    <div class="price_sum"><span>2 300</span> ₽ </div>
                                    <div class="favorite_delete"></div>
                                    <div class="stoke"><div class="stoke_inner">В наличии: <span>есть</span></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <a href=""><img src="files/pr.jpg" alt=""></a>
                            </div>
                            <div class="right">
                                <div class="name"><a href="">Система инсталляции для унитазов Balance с кнопкой смыва Square, цвет черный матовый, с креплениями, арт. CN121002MB</a></div>
                                <div class="right_inner">
                                    <div class="price"><span>1 150</span> ₽ </div>
                                    <div class="quantity_block">
                                        <button class="minus">-</button>
                                        <input type="text" value="2">
                                        <button class="minus">+</button>
                                    </div>
                                    <div class="price_sum"><span>2 300</span> ₽ </div>
                                    <div class="favorite_delete"></div>
                                    <div class="stoke"><div class="stoke_inner">В наличии: <span>Нет</span></div></div>
                                </div>
                            </div>
                        </div>
                    </div>                                                          
                    <div class="favorite_action_panel">
                        <div class="name">В избранном товаров 2</div>
                        <div class="actions">
                            <div class="download_btns">
                                <span>Скачать</span>
                                <a href="">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.625 3.67184L11.1858 0.25H3.61191C3.08725 0.25 2.65625 0.651812 2.65625 1.17644V6.07019C2.65625 6.06925 2.68822 6.0625 2.70947 6.0625H3.125V1.17644C3.125 0.914531 3.35 0.71875 3.61191 0.71875H10.9739L11.125 0.860469V2.78525C11.125 3.30772 11.5499 3.71875 12.0723 3.71875H13.9971L14.125 3.86859V14.7921C14.125 15.054 13.9431 15.2812 13.6812 15.2812H3.61191C3.35 15.2812 3.125 15.054 3.125 14.7921V12.9062H2.70947C2.68822 12.9062 2.65625 12.9074 2.65625 12.9065V14.7921C2.65625 15.3167 3.08725 15.75 3.61191 15.75H13.6812C14.2058 15.75 14.625 15.3167 14.625 14.7921V3.67184ZM12.0723 3.25C11.8104 3.25 11.5938 3.04716 11.5938 2.78525V1.38225V1.37316L13.4844 3.25H12.0723Z" fill="#315D84" />
                                        <path d="M11.6751 6.53125H2.32494C1.80031 6.53125 1.375 6.95656 1.375 7.48119V11.4563C1.375 11.9809 1.80031 12.4062 2.32494 12.4062H11.6751C12.1997 12.4062 12.625 11.9809 12.625 11.4563V7.48119C12.625 6.95656 12.1997 6.53125 11.6751 6.53125ZM5.12644 11.0312L4.53941 10.0899L3.95853 11.0312H3.03781L4.03681 9.49625L3.09756 8.03125H3.99975L4.54353 8.96228L5.06672 8.03125H5.99569L5.042 9.56009L6.06775 11.0312H5.12644ZM8.375 11.0312H6.40625V8.03125H7.21875V10.375H8.375V11.0312ZM9.64047 8.98634C9.70156 9.03303 9.86737 9.11816 10.1379 9.24175C10.3975 9.35847 10.5777 9.48378 10.6786 9.61766C10.7796 9.75153 10.83 9.92012 10.83 10.1233C10.83 10.3101 10.7826 10.4759 10.6879 10.6208C10.5932 10.7657 10.4565 10.8782 10.278 10.9586C10.0995 11.0389 9.89006 11.0791 9.64975 11.0791C9.44925 11.0791 9.28 11.065 9.14409 11.0368C9.00812 11.0087 8.875 10.9596 8.71875 10.8896V10.1645C8.875 10.2442 9.03628 10.3063 9.20381 10.3509C9.37131 10.3956 9.52566 10.4179 9.66572 10.4179C9.78653 10.4179 9.87534 10.397 9.93169 10.3551C9.98797 10.3132 10.0162 10.2593 10.0162 10.1934C10.0162 10.1522 10.005 10.1161 9.98231 10.0852C9.95966 10.0543 9.92328 10.0231 9.87319 9.9915C9.82306 9.95994 9.68956 9.89541 9.47256 9.79791C9.27619 9.70866 9.12891 9.62216 9.03078 9.53834C8.93256 9.45459 8.85981 9.35847 8.81244 9.24997C8.76506 9.1415 8.74141 9.01309 8.74141 8.86478C8.74141 8.58744 8.84234 8.37116 9.04419 8.21594C9.24606 8.06078 9.52344 7.98319 9.87634 7.98319C10.1881 7.98319 10.5059 8.05528 10.8301 8.19944L10.5808 8.82769C10.2993 8.69862 10.0563 8.63406 9.85163 8.63406C9.74588 8.63406 9.669 8.65259 9.62094 8.68966C9.57284 8.72675 9.54884 8.77275 9.54884 8.82769C9.54881 8.88681 9.57938 8.93966 9.64047 8.98634Z" fill="#315D84" />
                                    </svg>
                                </a>
                                <a href="">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1444_4007)">
                                            <path d="M4.98055 10.4041H13.1718C13.2299 10.4041 13.2855 10.4271 13.3266 10.4682C13.3676 10.5092 13.3907 10.5649 13.3907 10.623C13.3907 10.681 13.3676 10.7367 13.3266 10.7778C13.2855 10.8188 13.2299 10.8419 13.1718 10.8419H4.98055C4.9518 10.8419 4.92333 10.8362 4.89678 10.8252C4.87022 10.8142 4.84608 10.7981 4.82576 10.7778C4.80543 10.7574 4.78931 10.7333 4.7783 10.7067C4.7673 10.6802 4.76164 10.6517 4.76164 10.623C4.76164 10.5942 4.7673 10.5658 4.7783 10.5392C4.78931 10.5126 4.80543 10.4885 4.82576 10.4682C4.84608 10.4479 4.87022 10.4317 4.89678 10.4207C4.92333 10.4097 4.9518 10.4041 4.98055 10.4041ZM13.1718 12.0447H4.98055C4.92249 12.0447 4.86681 12.0678 4.82576 12.1088C4.7847 12.1499 4.76164 12.2055 4.76164 12.2636C4.76164 12.3217 4.7847 12.3773 4.82576 12.4184C4.86681 12.4594 4.92249 12.4825 4.98055 12.4825H13.1718C13.2299 12.4825 13.2855 12.4594 13.3266 12.4184C13.3676 12.3773 13.3907 12.3217 13.3907 12.2636C13.3907 12.2055 13.3676 12.1499 13.3266 12.1088C13.2855 12.0678 13.2299 12.0447 13.1718 12.0447ZM3.54367 5.90234H2.87655V6.52241H3.54358C3.6258 6.52241 3.70466 6.48974 3.7628 6.4316C3.82095 6.37346 3.85361 6.2946 3.85361 6.21238C3.85361 6.13015 3.82095 6.05129 3.7628 5.99315C3.70466 5.93501 3.6258 5.90234 3.54358 5.90234H3.54367ZM13.1718 13.6853H4.98055C4.95182 13.6853 4.92338 13.691 4.89684 13.702C4.8703 13.713 4.84618 13.7291 4.82587 13.7494C4.80556 13.7697 4.78944 13.7938 4.77845 13.8204C4.76746 13.8469 4.7618 13.8753 4.7618 13.9041C4.7618 13.9328 4.76746 13.9612 4.77845 13.9878C4.78944 14.0143 4.80556 14.0384 4.82587 14.0587C4.84618 14.0791 4.8703 14.0952 4.89684 14.1062C4.92338 14.1172 4.95182 14.1228 4.98055 14.1228H13.1718C13.2298 14.1228 13.2855 14.0998 13.3265 14.0587C13.3675 14.0177 13.3905 13.9621 13.3905 13.9041C13.3905 13.846 13.3675 13.7904 13.3265 13.7494C13.2855 13.7084 13.2298 13.6853 13.1718 13.6853ZM5.93623 7.09203V6.39062C5.93597 6.2611 5.88434 6.13697 5.79268 6.04546C5.70101 5.95395 5.57679 5.90254 5.44727 5.9025H4.95827V7.58116H5.44727C5.57693 7.58101 5.70124 7.52942 5.79291 7.43772C5.88458 7.34602 5.93613 7.2217 5.93623 7.09203ZM15.0259 4.6975V14.6578C15.0253 15.0138 14.8836 15.355 14.6318 15.6066C14.38 15.8582 14.0387 15.9997 13.6827 16H4.4693C4.11336 15.9997 3.77208 15.8582 3.52033 15.6066C3.26859 15.355 3.12695 15.0137 3.12648 14.6578V9.00469H1.44148C1.31771 9.00451 1.19906 8.95527 1.11155 8.86775C1.02403 8.78023 0.974783 8.66158 0.974609 8.53781V4.94562C0.974725 4.82184 1.02395 4.70315 1.11148 4.61562C1.19901 4.52809 1.3177 4.47887 1.44148 4.47875H3.12648V1.34281C3.12687 0.986796 3.26847 0.645472 3.52021 0.39373C3.77196 0.141988 4.11328 0.000388769 4.4693 0L10.3284 0C10.3864 0.000118673 10.442 0.0231441 10.483 0.0640625L14.9618 4.54281C15.0027 4.58391 15.0257 4.63951 15.0259 4.6975ZM3.54358 6.96C3.64176 6.96 3.73898 6.94066 3.82969 6.90309C3.9204 6.86551 4.00283 6.81044 4.07225 6.74102C4.14168 6.67159 4.19675 6.58917 4.23432 6.49846C4.2719 6.40775 4.29123 6.31053 4.29123 6.21234C4.29123 6.11416 4.2719 6.01694 4.23432 5.92623C4.19675 5.83552 4.14168 5.7531 4.07225 5.68367C4.00283 5.61424 3.9204 5.55917 3.82969 5.5216C3.73898 5.48403 3.64176 5.46469 3.54358 5.46469H2.65773C2.59972 5.46469 2.54408 5.48773 2.50306 5.52876C2.46203 5.56978 2.43898 5.62542 2.43898 5.68344V7.79972C2.43898 7.82845 2.44464 7.85689 2.45564 7.88343C2.46663 7.90997 2.48274 7.93409 2.50306 7.9544C2.52337 7.97471 2.54748 7.99082 2.57402 8.00182C2.60056 8.01281 2.62901 8.01847 2.65773 8.01847C2.68646 8.01847 2.71491 8.01281 2.74145 8.00182C2.76799 7.99082 2.7921 7.97471 2.81241 7.9544C2.83273 7.93409 2.84884 7.90997 2.85983 7.88343C2.87083 7.85689 2.87648 7.82845 2.87648 7.79972V6.96003L3.54358 6.96ZM14.5884 4.91656H10.9527C10.7291 4.91628 10.5148 4.82733 10.3566 4.66921C10.1985 4.5111 10.1096 4.29673 10.1093 4.07312V0.4375H4.4693C4.22929 0.437814 3.9992 0.533296 3.82949 0.703007C3.65978 0.872718 3.5643 1.10281 3.56398 1.34281V4.47875H9.45305C9.57684 4.47887 9.69552 4.52809 9.78305 4.61562C9.87058 4.70315 9.91981 4.82184 9.91992 4.94562V8.53781C9.91975 8.66158 9.87051 8.78023 9.78299 8.86775C9.69547 8.95527 9.57682 9.00451 9.45305 9.00469H3.56398V14.6578C3.5644 14.8977 3.65993 15.1277 3.82964 15.2973C3.99935 15.4669 4.22938 15.5623 4.4693 15.5625H13.6827C13.9227 15.5623 14.1528 15.467 14.3226 15.2974C14.4924 15.1278 14.5879 14.8978 14.5884 14.6578V4.91656ZM4.73945 8.01875H5.44727C5.69292 8.01846 5.92843 7.92074 6.10214 7.74704C6.27584 7.57333 6.37355 7.33781 6.37383 7.09216V6.39062C6.37345 6.14508 6.27568 5.90971 6.10197 5.73615C5.92827 5.5626 5.69281 5.46504 5.44727 5.46488H4.73945C4.68144 5.46488 4.6258 5.48792 4.58477 5.52895C4.54375 5.56997 4.5207 5.62561 4.5207 5.68363V7.79991C4.52069 7.82864 4.52634 7.8571 4.53733 7.88365C4.54832 7.9102 4.56443 7.93432 4.58474 7.95465C4.60505 7.97497 4.62917 7.99109 4.65572 8.00209C4.68227 8.01309 4.71072 8.01875 4.73945 8.01875ZM7.04086 6.52241V5.90234H8.23674C8.29475 5.90234 8.35039 5.8793 8.39142 5.83827C8.43244 5.79725 8.45549 5.74161 8.45549 5.68359C8.45549 5.62558 8.43244 5.56994 8.39142 5.52891C8.35039 5.48789 8.29475 5.46484 8.23674 5.46484H6.82211C6.76409 5.46484 6.70845 5.48789 6.66743 5.52891C6.62641 5.56994 6.60336 5.62558 6.60336 5.68359V7.79987C6.60336 7.85789 6.62641 7.91353 6.66743 7.95455C6.70845 7.99558 6.76409 8.01863 6.82211 8.01863C6.88013 8.01863 6.93577 7.99558 6.97679 7.95455C7.01781 7.91353 7.04086 7.85789 7.04086 7.79987V6.96003H8.0268C8.08481 6.96003 8.14045 6.93698 8.18148 6.89596C8.2225 6.85494 8.24555 6.7993 8.24555 6.74128C8.24555 6.68326 8.2225 6.62763 8.18148 6.5866C8.14045 6.54558 8.08481 6.52253 8.0268 6.52253L7.04086 6.52241Z" fill="#315D84" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1444_4007">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </a>
                            </div>
                            <div class="clear_favorite">Очистить</div>
                        </div>                        
                    </div>
                    <div class="total_summ"><strong>ИТОГО:</strong> <span>23 450 ₽</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade