include _header.jade
<div class="login_wrapper">
    <div class="container">
        <div class="path_block">
            <a href="">Главная</a>
            <i></i>
            <a href="">Личный кабинет</a>
            <i></i>
            <span>Персональный радел</span>
        </div>
        <div class="container_inner">
            <div class="left_panel">
                <div class="login_panel">
                    <div class="user_data">
                        <div class="user_img empty_img">
                            <img src="" alt="div">
                        </div>
                        <div class="user_name">Имя Фамилия</div>
                    </div>
                    <div class="login_menu">
                        <ul>
                            <li class="my_cabinet">
                                <a href="#">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.63093 17.3095V14.7539C7.63092 14.1038 8.16085 13.5756 8.81743 13.5713H11.2225C11.8822 13.5713 12.417 14.1007 12.417 14.7539V14.7539V17.3174C12.4169 17.8693 12.8618 18.3204 13.4191 18.3333H15.0225C16.6209 18.3333 17.9166 17.0505 17.9166 15.4682V15.4682V8.19816C17.908 7.57565 17.6128 6.99108 17.1149 6.61082L11.6314 2.23771C10.6707 1.47626 9.30509 1.47626 8.34443 2.23771L2.88494 6.61876C2.38513 6.99748 2.08941 7.58301 2.08325 8.20609V15.4682C2.08325 17.0505 3.37898 18.3333 4.97734 18.3333H6.58072C7.15188 18.3333 7.6149 17.8749 7.6149 17.3095V17.3095" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Мой кабинет</div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.63093 17.3095V14.7539C7.63092 14.1038 8.16085 13.5756 8.81743 13.5713H11.2225C11.8822 13.5713 12.417 14.1007 12.417 14.7539V14.7539V17.3174C12.4169 17.8693 12.8618 18.3204 13.4191 18.3333H15.0225C16.6209 18.3333 17.9166 17.0505 17.9166 15.4682V15.4682V8.19816C17.908 7.57565 17.6128 6.99108 17.1149 6.61082L11.6314 2.23771C10.6707 1.47626 9.30509 1.47626 8.34443 2.23771L2.88494 6.61876C2.38513 6.99748 2.08941 7.58301 2.08325 8.20609V15.4682C2.08325 17.0505 3.37898 18.3333 4.97734 18.3333H6.58072C7.15188 18.3333 7.6149 17.8749 7.6149 17.3095V17.3095" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Мой кабинет</div>
                                </a>
                            </li>
                            <li class="opened">
                                <a href="">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98712 12.7885C6.7641 12.7885 4.01172 13.2758 4.01172 15.2273C4.01172 17.1789 6.74664 17.6837 9.98712 17.6837C13.2101 17.6837 15.9617 17.1956 15.9617 15.2448C15.9617 13.294 13.2276 12.7885 9.98712 12.7885Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98716 10.0049C12.1022 10.0049 13.8165 8.28978 13.8165 6.1747C13.8165 4.05962 12.1022 2.34534 9.98716 2.34534C7.87208 2.34534 6.157 4.05962 6.157 6.1747C6.14986 8.28264 7.85304 9.99772 9.96018 10.0049H9.98716Z" stroke="#111111" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Личные данные</div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.39314 9.66527C1.49897 6.8736 2.54397 3.68277 5.47481 2.7386C7.01647 2.2411 8.71814 2.53443 9.99981 3.4986C11.2123 2.5611 12.9765 2.24443 14.5165 2.7386C17.4473 3.68277 18.499 6.8736 17.6056 9.66527C16.214 14.0903 9.99981 17.4986 9.99981 17.4986C9.99981 17.4986 3.83147 14.1419 2.39314 9.66527Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M13.3333 5.58337C14.2249 5.87171 14.8549 6.66754 14.9308 7.60171" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Избранное (5)</div>
                                </a>
                            </li>
                            <li>
                                <a href="/garant/service/"  target="_blank">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.9188 7.37598L11.2161 10.3868C10.5165 10.9418 9.5322 10.9418 8.83262 10.3868L5.09863 7.37598" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0908 17.5C16.6253 17.507 18.3334 15.4246 18.3334 12.8653V7.14168C18.3334 4.58235 16.6253 2.5 14.0908 2.5H5.90936C3.3749 2.5 1.66675 4.58235 1.66675 7.14168V12.8653C1.66675 15.4246 3.3749 17.507 5.90936 17.5H14.0908Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Обращение</div>
                                </a>
                            </li>
                            <li>
                                <a href="/catalog/">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5.41667C2.5 3.22899 2.52342 2.5 5.41667 2.5C8.30991 2.5 8.33333 3.22899 8.33333 5.41667C8.33333 7.60434 8.34256 8.33333 5.41667 8.33333C2.49077 8.33333 2.5 7.60434 2.5 5.41667Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6667 5.41667C11.6667 3.22899 11.6902 2.5 14.5834 2.5C17.4767 2.5 17.5001 3.22899 17.5001 5.41667C17.5001 7.60434 17.5093 8.33333 14.5834 8.33333C11.6575 8.33333 11.6667 7.60434 11.6667 5.41667Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 14.5833C2.5 12.3956 2.52342 11.6666 5.41667 11.6666C8.30991 11.6666 8.33333 12.3956 8.33333 14.5833C8.33333 16.771 8.34256 17.5 5.41667 17.5C2.49077 17.5 2.5 16.771 2.5 14.5833Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6667 14.5833C11.6667 12.3956 11.6902 11.6666 14.5834 11.6666C17.4767 11.6666 17.5001 12.3956 17.5001 14.5833C17.5001 16.771 17.5093 17.5 14.5834 17.5C11.6575 17.5 11.6667 16.771 11.6667 14.5833Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Каталог</div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="icon">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.5134 6.1579V5.3804C12.5134 3.68457 11.1384 2.30957 9.44256 2.30957H5.38006C3.68506 2.30957 2.31006 3.68457 2.31006 5.3804V14.6554C2.31006 16.3512 3.68506 17.7262 5.38006 17.7262H9.45089C11.1417 17.7262 12.5134 16.3554 12.5134 14.6646V13.8787" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M18.1745 10.0179H8.14038" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M15.7344 7.58862L18.1744 10.0178L15.7344 12.4478" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="name">Выйти</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right_content">
                <div class="slider_items">
                    <div class="slider_item">
                        <a href="">
                            <img src="files/sl3.jpg" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a href="">
                            <img src="files/sl3.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="banner">
                    <div class="item">
                        <a href="">
                            <img src="files/sl3.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="link_items">
                    <a href="ld.html" class="item">
                        <span class="icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98712 12.7885C6.7641 12.7885 4.01172 13.2758 4.01172 15.2273C4.01172 17.1789 6.74664 17.6837 9.98712 17.6837C13.2101 17.6837 15.9617 17.1956 15.9617 15.2448C15.9617 13.294 13.2276 12.7885 9.98712 12.7885Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98716 10.0049C12.1022 10.0049 13.8165 8.28978 13.8165 6.1747C13.8165 4.05962 12.1022 2.34534 9.98716 2.34534C7.87208 2.34534 6.157 4.05962 6.157 6.1747C6.14986 8.28264 7.85304 9.99772 9.96018 10.0049H9.98716Z" stroke="#111111" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        <span class="name">Личные данные</span>
                        <span class="text">Смотреть</span>
                    </a>
                    <a href="favorite-page.html" class="item">
                        <span class="icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.39314 9.66527C1.49897 6.8736 2.54397 3.68277 5.47481 2.7386C7.01647 2.2411 8.71814 2.53443 9.99981 3.4986C11.2123 2.5611 12.9765 2.24443 14.5165 2.7386C17.4473 3.68277 18.499 6.8736 17.6056 9.66527C16.214 14.0903 9.99981 17.4986 9.99981 17.4986C9.99981 17.4986 3.83147 14.1419 2.39314 9.66527Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M13.3333 5.58337C14.2249 5.87171 14.8549 6.66754 14.9308 7.60171" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        <span class="name">Избранное</span>
                        <span class="text">Товаров 6</span>
                    </a>
                    <a href="/garant/service/" target="_blank" class="item">
                        <span class="icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.9188 7.37598L11.2161 10.3868C10.5165 10.9418 9.5322 10.9418 8.83262 10.3868L5.09863 7.37598" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0908 17.5C16.6253 17.507 18.3334 15.4246 18.3334 12.8653V7.14168C18.3334 4.58235 16.6253 2.5 14.0908 2.5H5.90936C3.3749 2.5 1.66675 4.58235 1.66675 7.14168V12.8653C1.66675 15.4246 3.3749 17.507 5.90936 17.5H14.0908Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        <span class="name">Обращение</span>
                        <span class="text">Написать</span>
                    </a>
                    <a href="catalog.html" class="item">
                        <span class="icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5.41667C2.5 3.22899 2.52342 2.5 5.41667 2.5C8.30991 2.5 8.33333 3.22899 8.33333 5.41667C8.33333 7.60434 8.34256 8.33333 5.41667 8.33333C2.49077 8.33333 2.5 7.60434 2.5 5.41667Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6665 5.41667C11.6665 3.22899 11.6899 2.5 14.5832 2.5C17.4764 2.5 17.4998 3.22899 17.4998 5.41667C17.4998 7.60434 17.5091 8.33333 14.5832 8.33333C11.6573 8.33333 11.6665 7.60434 11.6665 5.41667Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 14.5833C2.5 12.3956 2.52342 11.6666 5.41667 11.6666C8.30991 11.6666 8.33333 12.3956 8.33333 14.5833C8.33333 16.771 8.34256 17.5 5.41667 17.5C2.49077 17.5 2.5 16.771 2.5 14.5833Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6665 14.5833C11.6665 12.3956 11.6899 11.6666 14.5832 11.6666C17.4764 11.6666 17.4998 12.3956 17.4998 14.5833C17.4998 16.771 17.5091 17.5 14.5832 17.5C11.6573 17.5 11.6665 16.771 11.6665 14.5833Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        <span class="name">Каталог</span>
                        <span class="text">Перейти</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade