include _header.jade
<div class="container">
    <div class="row product-products-main">
        <div class="product-products col-md-7">
            <div class="tree treeCatalog">
                <div class="row treeImg zoom-gallery">
                    <div class="col-md-6">
                        <a href="https://ceramicanova.com/upload/iblock/44c/m9863ke40x9kumgspzj79mwqd5jus4ur.jpg">
                            <img class="img-responsive" src="https://ceramicanova.com/upload/resize_cache/iblock/44c/720_720_1/m9863ke40x9kumgspzj79mwqd5jus4ur.jpg" alt="" loading="lazy">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://ceramicanova.com/upload/iblock/b19/2juvrkjbajcibxbma624jfr65hi0qsao.jpg">
                            <img class="img-responsive" src="https://ceramicanova.com/upload/resize_cache/iblock/b19/720_720_1/2juvrkjbajcibxbma624jfr65hi0qsao.jpg" alt="" loading="lazy">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://ceramicanova.com/upload/iblock/142/03qsyhifyhcyd0puw1g5k2zdoqz9yjlu.jpg">
                            <img class="img-responsive" src="https://ceramicanova.com/upload/resize_cache/iblock/142/720_720_1/03qsyhifyhcyd0puw1g5k2zdoqz9yjlu.jpg" alt="" loading="lazy">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://ceramicanova.com/upload/iblock/1bd/jodyb7o66hlri3n85vzs1fqitdf0b9qz.jpg">
                            <img class="img-responsive" src="https://ceramicanova.com/upload/resize_cache/iblock/1bd/720_720_1/jodyb7o66hlri3n85vzs1fqitdf0b9qz.jpg" alt="" loading="lazy">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://ceramicanova.com/upload/iblock/be8/dm9d6037a2eokm1dqyjtes1uvntn13ek.jpg">
                            <img class="img-responsive" src="https://ceramicanova.com/upload/resize_cache/iblock/be8/720_720_1/dm9d6037a2eokm1dqyjtes1uvntn13ek.jpg" alt="" loading="lazy">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://ceramicanova.com/upload/iblock/c4b/9iev3tpuohttivksgmgjsaqk95edj9m2.jpg">
                            <img class="img-responsive" src="https://ceramicanova.com/upload/resize_cache/iblock/c4b/720_720_1/9iev3tpuohttivksgmgjsaqk95edj9m2.jpg" alt="" loading="lazy">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://ceramicanova.com/upload/iblock/e97/m35fjxdsq1srjhdmk63bm0kvzfqkpbko.jpg">
                            <img class="img-responsive" src="https://ceramicanova.com/upload/resize_cache/iblock/e97/720_720_1/m35fjxdsq1srjhdmk63bm0kvzfqkpbko.jpg" alt="" loading="lazy">
                        </a>
                    </div>
                </div>
                <div class="branch on">
                    <a href=""><span></span>
                        <h4>Описание</h4>
                    </a>
                    <div class="branchCollection">
                        <p>Напольный унитаз с бачком Fortuna Rimless, двойной смыв 3/6 арматура, нижняя подводка глубокий смыв, горизонтальный (универсальный) выпуск, с крепежом, с ультра тонким сидением и крышкой с функцией плавного закрытия, дюропласт. Крышка-сиденье с функцией быстрого снятия.</p>
                    </div>
                </div>
                <div class="branch on" id="branchCharacteristic">
                    <a href=""><span></span>
                        <h4>Характеристики</h4>
                    </a>
                    <div class="branchCollection branchCharacteristic">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <ul>
                                    <li>Страна<span class="dark">Италия</span></li>
                                    <li>Вес<span class="dark">37 кг</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <ul>
                                    <li>Вид номенклатуры<span class="dark">унитазы-компакт</span></li>
                                    <li>Производитель<span class="dark">Ceramicanova</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <ul>
                                    <li>Глубина<span class="dark">650 мм.</span></li>
                                    <li>Ширина<span class="dark">340 мм.</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <ul>
                                    <li>Высота<span class="dark">770 мм.</span></li>
                                    <li>Материал<span class="dark">Санфарфор</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <ul>
                                    <li>Стиль<span class="dark">Современные</span></li>
                                    <li>Форма<span class="dark">прямоугольная</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <ul>
                                    <li>Безободковый унитаз<span class="dark">да</span></li>
                                    <li>Подводка воды<span class="dark">нижняя</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <ul>
                                    <li>Основной цвет<span class="dark">белый</span></li>
                                    <li>Защитный бортик от выплеска воды<span class="dark">да</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <ul>
                                    <li>Тип<span class="dark">Напольный</span></li>
                                    <li>Потребление воды<span class="dark">Стандарт: 3/6 л</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <ul>
                                    <li>Выпуск<span class="dark">Горизонтальный</span></li>
                                    <li>В комплекте<span class="dark">крышка-сиденье с механизмом SoftClose, дюрапласт</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="branch on">
                    <a href=""><span></span>
                        <h4>Другие товары этой коллекции</h4>
                    </a>
                    <div class="branchCollection">
                        <div class="prod-carousel owl-carousel">
                            <div class="item">
                                <div class="favorite_add"></div>
                                <div class="branchProd">
                                    <a href="/catalog/unitaz-kompakt/unitaz-kompakt-napolnyy-ceramicanova-highlight-cn1802/">
                                        <img src="https://ceramicanova.com/upload/iblock/5af/5afc60fa08d7da96a2104ca12c07ea62.jpg" class="img-responsive" alt="" loading="lazy">
                                        <h6>Унитаз компакт напольный Ceramicanova HIGHLIGHT CN1802</h6>
                                        <div class="price"><span>1 150</span> ₽ </div>
                                        <div class="stoke">
                                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="favorite_add"></div>
                                <div class="branchProd">
                                    <a href="/catalog/pristavnye-unitazy/napolnyy-pristavnoy-unitaz-highlight-rimless-cn1812/">
                                        <img src="https://ceramicanova.com/upload/iblock/45a/dsiceshn9uabxd8tx0mqoi0qmddycf13.jpg" class="img-responsive" alt="" loading="lazy">
                                        <h6>Напольный приставной унитаз Highlight Rimless CN1812</h6>
                                        <div class="price"><span>1 150</span> ₽ </div>
                                        <div class="stoke">
                                            <div class="stoke_inner">В наличии: <span>Нет</span></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog-text catalog-text-products col-md-5" style="">
            <h3>Напольный унитаз с бачком Alfa Rimless CN9002</h3>
            <div class="stoke"><div class="stoke_inner">В наличии: <span>Нет</span></div></div>
            <div class="price"><span>1 150</span> ₽ </div>
            <div class="favorite_add"><i></i><span>Добавить в избранное</span></div>
            <ul>
                <li>Артикул: CN9002</li>
                <li>ШхГхВ: 340 мм. х 650 мм. х 770 мм.</li>
                <li>Название коллекции: <a href="/collection/alfa/">Alfa</a></li>
                <li>Страна бренда: Италия</li>
            </ul>
            <ol>
                <li>
                    <a href="https://ceramicanova.com/upload/iblock/05f/yx6tk8z6e60tw2fx5kcki2awe4vi20vt.jpg" class="image-popup-vertical-fit">Схема</a>
                </li>
                <li><a href="https://ceramicanova.com/upload/iblock/784/ucp7a4n4o7d4nfb4lui0futc9fv21bc8.rar" class="3dmodel" download="">Скачать 3D модель</a></li>
                <li><a href="#branchCharacteristic" class="anchor">Все Характеристики</a></li>
            </ol>
        </div>
    </div>
</div>
include _footer.jade